form{
  input{
    background-color: rgba(213, 218, 241, 0.16);
    padding: 1rem;
    border-radius: 15px;
    color: #999EB6;
    width: 100%;

    &::placeholder{
      font-size: 14px;
      color: #999EB6;
    }

    &.alert_indicator{
      border: 1px solid $color_alert;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus{
    border: none;
    -webkit-text-fill-color: #999EB6;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
#btn_hint{
  &.active{
    display: none;
  }
}
.hint, .alert{
  display: none;
  p, span{
    font-weight: 300;
  }
  &.active{
    display: block;
  }
}
.hint{
  p{
    font-style: italic;
  }
}
.alert{
  p, span{
    color: $color_alert;
    text-align: center;
  }
}
