.notification{
  position: absolute;
  right: 32px;
  top: -30%;
  display: none;
  gap: 16px;
  padding: 16px;
  background-color: rgba(12, 17, 44, 0.59);
  border: 1px solid rgba(107, 131, 255, 0.2);
  border-radius: 20px;
  max-width: 350px;
  cursor: pointer;
  z-index: 99;

  &.active{
    display: flex;
  }

  .notification_logo{
    display: flex;
    align-items: center;
  }

  .notification_content{
    header, p{
      font-weight: 300;
    }
    header + p{
      margin-top: 8px;
    }
    header{
      display: flex;
      justify-content: space-between;
      .notification_date{
        font-size: 14px;
      }
    }
  }
}
