html {
  box-sizing: border-box;
  // font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Poppins', Arial;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  color: $colors_white;
}

h2{
  text-transform: uppercase;
  font-weight: 600;
}

p, ol, ul, span{
  color: $color_body-text
}

body{
  min-height: 100vh;
  background: linear-gradient(122deg, #0C112C 19.3%, #0A0611 100%);
  overflow: hidden;
}

input{
  border: none;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}
